<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">computer</i>
                      </div>
                      <p class="card-category">Total</p>
                      <h3 class="card-title">{{total}}
                          <!-- <small>GB</small> -->
                      </h3>
                  </div>
                  <div class="card-footer">
                      <!-- <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">device login/account ทั้งหมด</a>
                      </div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">ThaiD</p>
                      <h3 class="card-title">{{thaid}}</h3>
                  </div>
                  <div class="card-footer">
                      <!-- <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">confirmation_number</i>
                      </div>
                      <p class="card-category">Ticket</p>
                      <h3 class="card-title">{{ticket}}</h3>
                  </div>
                  <div class="card-footer">
                      <!-- <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-user"></i>
                      </div>
                      <p class="card-category">Staff</p>
                      <h3 class="card-title">{{staff}}</h3>
                  </div>
                  <div class="card-footer">
                      <!-- <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
      <div class="row" *ngIf="false">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Sales</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Email Subscriptions</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">ThaiD</h4>
                    <p class="card-category">ข้อมูลการใช้งาน ThaiD 10 วันย้อนหลัง</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-primary">
                            <th>วันที่</th>
                            <th style="text-align: right;">จำนวน</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let l of listThaidD">
                                <td>{{l.created_date | dateTh:'D MMMM YYYY'}}</td>
                                <td style="text-align: right;">{{l.count}} users</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Ticket</h4>
                      <p class="card-category">ข้อมูลการใช้งาน Ticket 10 วันย้อนหลัง</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                        <thead class="text-primary">
                            <th>วันที่</th>
                            <th style="text-align: right;">จำนวน</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let l of listTicket">
                                <td>{{l.created_date | dateTh:'D MMMM YYYY'}}</td>
                                <td style="text-align: right;">{{l.count}} users</td>
                            </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
